In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = {"name":["Raghavendra","Vaasu","Marley"],"Age":[29,30,31]}

example_df = pd.DataFrame(data)

In [4]:
example_df.head()

          name  Age
0  Raghavendra   29
1        Vaasu   30
2       Marley   31

In [5]:
example_df.Age.mean()

30.0